/vendor/
/runtime/
/.env
/.env.*
!/.env.example
!/.env.dev.example
!/.env.prod.example
/.idea/
/.vscode/
*.log
.DS_Store
Thumbs.db
/node_modules/
/.phpunit.result.cache
/.php-cs-fixer.cache
/tests/coverage/
/database/migrations/.migrations.log
